<div *ngIf="productDetails">
	<div class="card mb-3">
	<carousel class="custom-style" [(activeSlide)]="activeSlideIndex"  [interval]="myInterval">
	  <slide *ngFor="let slide of productDetails.images">
	    <img [src]="slide">
	  </slide>
	</carousel>
	  <div class="card-body">
	    <h5 class="card-title">{{ productDetails.name }}</h5>
	    <p class="card-text">{{ productDetails.tagline}}</p>
	    <p class="card-text">{{ productDetails.description}}</p>
	    <p class="card-text">Gender: {{ productDetails.gender}}</p>
	    <p class="card-text">Tags: {{ productDetails.tags}}</p>
	    <div *ngFor="let ingredient of productDetails.ingredients">
	    	<p class="card-text"><b>{{ objectKeys(ingredient) }}:</b> {{ ingredient[objectKeys(ingredient)] }}</p>
	    </div>
	    <br>
	   	<a (click)="onNavigate()"><b>Source Url: </b><u>{{ productDetails.name }}</u></a>
	</div>
</div>

<!-- TODO -->
<!-- https://ngx-bootstrap.surge.sh/#/carousel -->
<!-- Add alt image - no-image-found in assets -->