img {
  display: block;
  max-width: 400px;
  max-height: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.custom-style {
  background-color: silver;
}

.carousel-control-next-icon {
	background: yellow;
}

.carousel-control-prev-icon {
	background-color: yellow;
}

.carousel-indicators {
	background-color: yellow;
}
