<div *ngIf="productDetails">
	<div class="card mb-3">
	  <img class="card-img-top rounded mx-auto" [src]="productDetails.primaryImage" alt="Card image cap">
	  <div class="card-body">
	    <h5 class="card-title">{{ productDetails.name }}</h5>
	    <p class="card-text">{{ productDetails.tagline}}</p>
	    <p class="card-text">{{ productDetails.description}}</p>
	    <p class="card-text">Gender: {{ productDetails.gender}}</p>
	    <p class="card-text">Tags: {{ productDetails.tags}}</p>
	    <div *ngFor="let ingredient of productDetails.ingredients">
	    	<p class="card-text"><b>{{ objectKeys(ingredient) }}:</b> {{ ingredient[objectKeys(ingredient)] }}</p>
	    </div>
	    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	</div>
</div>