img {
  display: block;
  max-width: 400px;
  max-height: 400px;
  height: auto;
}

/*.card {
  background-color: red;
}*/

.carousel-control-next-icon {
	background-color: red;
}

.carousel-control-prev-icon {
	background-color: red;
}

.carousel-indicators {
	background-color: red;	
}
