<nav class="navbar navbar-toggleable-md navbar-default bg-default">   
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>   
  </button>   
  <a class="navbar-brand" href="#" routerLink="/">MySite</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/profile">Welcome, Bart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

