<div class="card">
  <h4 class="card-header main-color-bg main-color-bg"><i class="fa fa-filter fa-fw"></i>Filter</h4>
	<div class="card-body">	
		<div class="form-group">
	    	<form (submit)="onSubmit()">
			<label>Gender</label>
			<div class="d-flex justify-content-between">
				<div class="form-group">
					<label>Male</label>
			        <input type="checkbox" [checked]="filters.genders.male" (change)="filters.genders.male = !filters.genders.male" name="male" ng-model="formData.filters.genders.male">
			    </div>
			    <div class="form-group">    
			        <label>Female</label>
			        <input type="checkbox" [checked]="filters.genders.female" (change)="filters.genders.female = !filters.genders.female" name="female" ng-model="formData.filters.genders.female">
			    </div>
			    <div class="form-group">    
			        <label>Unisex</label>
			        <input type="checkbox" [checked]="filters.genders.unisex" (change)="filters.genders.unisex = !filters.genders.unisex" name="unisex" ng-model="formData.filters.genders.unisex">
			    </div>	
			</div>  
			<div class="card-footer main-color-bg">
	  			<input type="submit" class="btn btn-light btn-block" value="Apply">
			</div>    
		    </form>
		</div>
   	</div>
</div>